# API Backend URL
# For local development: https://crm-app-hgch.onrender.com/
# For production: https://your-backend-api.onrender.com (or your deployed backend URL)
REACT_APP_API_URL=https://crm-app-hgch.onrender.com/api